* {
  outline: dashd;
}
html {
  font-family: 'Raleway' sans-serif;
}

#container-nav {
  background: #bebebe;
  display: flex;
  height: 4em;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
nav {
  align-items: center;
  background: #bebebe;
  display: flex;
  height: 4em;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
}
.link-item {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 1em;
  text-decoration: none;
}
.link-item:hover {
  background: #bebebe;
  border: #bebebe solid 2px;
  color: blue;
}
.dropdown {
  background-color:#bebebe;
  display: inline-block;
  position: relative;
}
.dropdown-options {
  background: #bebebe;
  display: none;
  font-size: .8em;
  padding-top: -.2em;
  overflow: auto;
  padding: .5em 0 0 1em;
  position: absolute;
  width: 18em;
}
.dropdown:hover .dropdown-options {
  display: block;
}
.link-item-drop {
  background-color: #bebebe;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  text-decoration: none;
}
.link-item-drop:hover {
  background-color: #bebebe;
  color: blue;
}

#container-section {
  background: #6b82ae;
  padding-top: 4rem;
  scroll-margin-top: 4em;
  width: 100%;
}
section {
  background: #6b82ae;
  margin: 0 auto;
  padding: 50px 0;
  width: 50%;
}
#image {
  border: white solid 5px;
  border-radius: 10%;
  display: flex;
  margin: 0 auto;
  width: 90%;
}
#title {
  color: white;
  font-family: 'tahoma', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  margin: 50px 0 0 0;
  text-align: center;
}
h3 {
  border-bottom: white solid 1px;
  border-top: white solid 1px;
  color: white;
  font-family: 'tahoma', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0 50px 0;
  padding: 10px 0;
  text-align: center;
}
.email {
  color: white;
}
.email:hover {
  color: blue;
}

.about {
  background: linear-gradient(rgb(193, 221, 230), transparent);
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(15px 10px 3px rgb(212, 212, 212));
  flex-wrap: wrap;
  margin: 5em auto;
  scroll-margin-top: 8.5em;
  width: 60%;
}
img {
  border-radius: 10px;
  filter: drop-shadow(0 0 0 0);
}
.about-me {
  font-size: 2em;
  font-weight: bold;
  margin: .65em auto;
  margin-bottom: 5em;
}
.about-text {
  margin: -8em 2em 2em 15em;
}
.skills-text {
  margin: -1em 2em 2em 15em;
}

.projects {
  align-content: center;
  background:linear-gradient(90deg, transparent, #6282ae 20%, #6282ae 80%, transparent);
  color: white;
  font-size: 3.5em;
  height: 1.3em;
  margin: 1em auto 2em;
  scroll-margin-top: 2em;
  text-align: center;
  width: 100%;
}
.project-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto .5em;
  scroll-margin-top: 5em;
  text-align: center;
  text-decoration: underline;
}
.project-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
}

.intro {
  align-items: center;
  background: linear-gradient(90deg,#012856 25%, lightblue 45%, lightblue 80%, #012856);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(212, 212, 212);
  color: black;
  display: flex;
  margin: 1em auto 5em;
  width: 60%;
}
.laptop {
  border-radius: 10%;
  width: 20%;
}
.intro-text {
  font-family: 'tahoma', sans-serif;
  font-size: 3em;
  margin-left: 25%;
  text-decoration: underline;
}
.intro:hover {
  color:blue;
}


.dg {
  background: linear-gradient(white, rgba(212, 212, 212, 1) 70%);  
  box-shadow: 10px 5px 5px rgb(212, 212, 212);
  display: flex;
  flex-direction: row;
  margin: 1em auto 5em;
  position: relative;
  scroll-margin-top: 12.5em;
  text-align: center;
  width: 60%;
  z-index: 1;
}

.img1 {
  border-radius: 8px 0 0 5px;
  clip-path: polygon(
  0% 0%,
  85.5% 0%,
  100% 100%,
  0% 100%);
  display: flex;
  width: 115%;
}
.innova-text {
  color: white;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 2em; 
  font-style: italic;
  left: 35%;
  position: absolute;
  text-decoration: underline;
  top: 15%;
  transform: translate(-50%, -50%);
}
.innova-text:hover {
  color: blue;
}
img.img1:hover + .innova-text {
  color: blue;
}

.img2 {
  border-radius: 0 8px 5px 0;  
  clip-path: polygon(
  5% 0%,
  100% 0%,
  100% 100%,
  35% 100%);
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  width: 100%;
}
.tribute-text {
  color: white;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 2em; 
  font-style: italic;
  left: 80%;
  position: absolute;
  text-decoration: underline;
  top: 15%;
  transform: translate(-50%, -50%);
}
.tribute-text:hover {
  color: blue;
}
img.img2:hover + .tribute-text {
  color: blue;
}

.forms {
  align-items: top;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em auto 6em;
  scroll-margin-top: 13em;
  width: 60%;
}
.forms-text {
  color: black;
  font-family: 'tahoma';
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
.forms-text:hover {
  color: blue;
}

.survey {
  border: rgb(170, 170, 170);
  border-radius: 10px;
  border-style: groove;
  box-shadow: 10px 5px 5px rgb(212, 212, 212);
}
.survey-image {
  border-style: outset;
  border-width: 25px;
  margin: 2em;
}
.survey-image:hover {
  border: inset;
  border-width: 25px;
}

.application {
  border: rgb(170, 170, 170);
  border-radius: 10px;
  border-style: groove;
  box-shadow: 10px 5px 5px rgb(212, 212, 212);
}
.application-image {
  background-color: #6b82ae;
  border-style: outset;
  border-width: 25px;
  margin: 2em;
}
.application-image:hover {
  background-color: #6b82ae;
  border-style: inset;
  border-width: 25px;
}

.footer {
  background-color: #6282ae;
  bottom: 0;
  height: 50em;
  width: 100%;
}
.foot-text-top, .foot-text-bottom {
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  height: 5em;
  justify-content: center;
  line-height: 2em;
  margin: 3em auto;
  text-align: center;
  width: 100%;
}
.links {
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 0 2em;
}
#github-logo {
  padding: 1em 1em;
}
#linkedin-logo {
  padding: 2.5em 2em 0 2em;
}
#fcc-logo {
  padding: 1em;

}
.link-logo {
border-radius: 20px;
background-color:#6282ae;
}
.link-logo:hover {
  background-color:#bebebe;
}

@media (max-width: 850px) {
  .projects {
    scroll-margin-top: 3em;
  }
}

 @media (max-width: 395px) {
  body {
    height: 844px;
    width: 390px;
  }
  #container-nav {
    align-content: center;
    height: 3em;
    width: 100%;
  }
  nav {
    align-content: center;
    height: 3em;
    justify-content: space-evenly;
    margin: auto 0;
    width: 100%;
  }
  .link-item {
    font-size: 1em;
  }
  .dropdown {
    top: 0;
  }
  .dropdown-options {
    width: 13em;
  }
  .link-item-drop {
    font-size: 1em;
  }

  #container-section {
    padding-top: 3rem;
    scroll-margin-top: 3em;
    width: 100%;
  }
  section {
    padding: 20px 0;
    width: 100%;
  }
  #image {
    width: 50%;
  }
  #title {
    font-size: 3rem;
    margin: 20px 0 0 0;
  }
  h3 {
    margin: 10px 0;
  }

  .about {
    margin-left: 12%;
    scroll-margin-top: 4em;
    width: 80%;
  }
  img {
    height: 85px;
  }
  .picture {
    height: 85px;
  }
  .about-me {
    font-size: 2.5em;
  }
  .about-text {
    font-family: 'tahoma', sans-serif;
    font-size: 1.2em;
    margin: -9em auto 0;
    text-align: center;
  }
  .skills-text {
    font-family: 'tahoma', sans-serif;
    font-size: 1.2em;
    margin: 1em auto;
    text-align: center;
  }

  .projects {
    width: 100%;
    scroll-margin-top: 2.5em;
  }

  .intro {
    width: 80%;
  }
  .laptop {
    width: 30%;
  }
  .intro-text {
    font-size: 1.5em;
    margin-left: 10%;
  }
  .dg {    
    width: 80%;
  }
  .innova-text, .tribute-text {
    font-size: 1em;
  }
  .forms {
    flex-direction: column;
    width: 52%;
  }
  .footer {
    height: 80em;
    top: 3em;
    scroll-margin-top: 4em;
    width: 100%;
  }
  .foot-text-top {
    margin: auto auto 6em auto;
  }

  .links {
    flex-direction: column;
    height: 35em;
    margin: 3em auto 0;
    top: 8em;
    width: 75%;
  }


  .link-logo {
    margin: auto;
  }

  #linkedin-logo img {
    height: 40px;
    padding-bottom: 2em;
  }

  .foot-text-bottom {
    margin: 1em auto 1em auto;
  }


 }