* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.background-image {
  background-image: url(/images/at-at-background-no-text.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(124, 107, 107);
  opacity: 50%;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-text-stroke: 1.5px darkblue;
}

.main {
  padding-top: 80px;
  padding-left: 30px;
  background: linear-gradient(45deg, rgba(255,255,255,4),rgba(255,255,255,.1));
  z-index: 1;
}

#welcome-section {
  color: rgb(15, 15, 99);
}
.content {
  -webkit-text-stroke: 1.5px rgb(95, 84, 84);
  padding: 100px 20px
}

@media (max-width: 400px) {
  body {
      font-size: .5rem;
      }
    }